{% load static %}

<!doctype html>
<html>
  <head>
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    <div class="login-body">
      <div class="login-container">
        <div class="login-header">
          <img
            class="login-header-logo"
            src="{% static 'images/logo.png' %}"
            alt="KADTEK Logo"
          />
          <h1>Welcome to KADTEK Ltd.</h1>
        </div>

        <form
          class="login-form"
          method="post"
          action="{% url 'accounts:pass_reset_req' %}"
        >
        {% csrf_token %}
          <div>
            <label for="username">Your Username</label>
            <input type="text" id="username" name="username" required />
          </div>

          <div>
            <button type="submit">Request a new password.</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
