{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div>
        <img class = "logo" src="{% static 'images/logo.png' %}" alt="KATEK Logo">
    </div>
    <div>
        <h1>Welcome to KATEK Ltd.</h1>
    </div>

<form method="post" action="{% url 'accounts:user_authenticate' %}">
   
    {% csrf_token %}
    <div>
        <label for="username">username address</label>
        <input type="text" id="username" name="username" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>

    <div>
        <a href="#">Forgot password?</a>
    </div>

    <div>
        <button type="submit">Log in</button>
    </div>
</form>

</body>
</html>