{% extends 'base.html' %}

{% block title %}Leave History{% endblock %}

{% block content %}
    <title>Leave History</title>
</head>
<body>

    <div class = table-wrapper>
        <table class = leave-table>
            <thead>
                <tr>
                    <th colspan = "6" class = "table-title"> Leave History</th>
                </tr>
                <tr>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Year</th>
                    <th>Status</th>
                    <th>Days</th>
                </tr>
            </thead>

            <tbody>
                {% for leave in full_leave_history %}
                <tr>
                    <td>{{ leave.get_leave_type_display }}</td>
                    <td>{{ leave.start_date }}</td>
                    <td>{{ leave.end_date }}</td>
                    <td>{{ leave.start_date|date:"Y"}}</td>
                    <td class = "
                        {% if leave.status == 'Approved' %}
                            leave-approved
                        {% elif leave.status == 'Pending' %}
                            leave-pending
                        {% elif leave.status == 'Rejected' %}
                          leave-rejected
                        {% endif %}"> {{ leave.status }}</td>
                    <td>{{ leave.start_date|timeuntil:leave.end_date }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No leave requests found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}